<h1><%= @restaurant.name %></h1>
 <p><u>Phone Number</u>: <%= @restaurant.phone_number %></p>
<p><u>Address:</u>: <%= @restaurant.address %></p>
<p><u>Description</u>: <%= @restaurant.description %></p>


<h2> Restaurants Menu </h2>
<%= @restaurant.menu_items do |menu| %>
  <li> <%=link_to menu_item.menu %> </li>
  <li> <%= menu_item.price.all %> </li>
  <%end%>




<h3> Add A Review </h3>

<%= form_for Review.new  do |form| %>
 <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
   <%= form.label :review %>
    <%= form.text_field :review %>

   <%= form.submit %>
   <%end%>
